.filter{
    border: solid black 1px;
    width:100%;
    display: flex;
    flex-wrap: wrap;
    padding: 1%;
}

.options{
    display: flex; flex-wrap: wrap;
    width: 100%;
    margin: 0.5%;
}

.option{
    flex-wrap: wrap;
    margin: 0.5%;
    width: 49%;
}

.button{
    margin-left: 1%;
}

.label{
    margin-left: 2%;
}